<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Details</h4>
              <form method="#" action="#">
                <div class="col-md-6 col-sm-3">
                  <div class="form-group label-floating">
                    <label class="control-label">Comapny Name</label>
                    <input type="text" name="company_name" [(ngModel)]="machineryOwner.company_name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Phone Number</label>
                    <input type="phone" name="phone" [(ngModel)]="machineryOwner.phone" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    <input disabled type="email" name="email" [(ngModel)]="machineryOwner.email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Address</label>
                    <input type="text" name="address" [(ngModel)]="machineryOwner.address" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input type="email" name="locaton" [(ngModel)]="machineryOwner.location" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <p>Verification Status</p>
                  <div class="togglebutton">
                    <label>
                      <input type="checkbox" name="verified" [(ngModel)]="machineryOwner.verified">
                      <span *ngIf="machineryOwner.verified">Verified</span>
                      <span *ngIf="!machineryOwner.verified">Unverified</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <p>Subscribtion Status</p>
                  <div class="">
                    <label>
                      <span *ngIf="machineryOwner.status">
                        <i class="text-success material-icons">check</i> Subscribed</span>
                      <span *ngIf="!machineryOwner.status">
                        <i class="text-danger material-icons">close</i>UnSubscribed</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <hr>
                  <p>Certificate</p>
                  <label>
                    <a id="cert" [href]="machineryOwner.certificate" target="_blank">View Certificate</a>
                    <!-- <button class="btn btn-round btn-rose pull-right">Download Certificate</button> -->
                  </label>
                </div>
              </form>
              <div class="clearfix">
                <br>
              </div>
              <button type="submit" class="btn btn-round btn-rose pull-right" (click)="updateMachineOwner()">Update User
                <img *ngIf="loader_2" src="assets/img/loader.gif" style="width:5%;">
              </button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card card-profile">
            <br>
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-new thumbnail">
                <img src="assets/img/feature/2.jpg" alt="...">
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
              <div>
                <span class="btn btn-rose btn-round btn-file">
                  <span class="fileinput-new">Uploaded Certificate</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="..." />
                </span>
                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                  <i class="fa fa-times"></i> Remove</a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>