<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a>
            Machinery.ng
          </a>
        </li>
        <!-- <li>
                              <a href="#">
                                  Company
                              </a>
                          </li> -->
        <!-- <li>
                              <a href="#">
                                  Portfolio
                              </a>
                          </li> -->
        <!-- <li>
                              <a href="#">
                                  Blog
                              </a>
                          </li> -->
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>
      <a href="http://www.machinery.ng">Machinery NG</a>, crafted with passion by
      <a href="http://www.projaro.com">Projaro</a>
    </p>
  </div>
</footer>