<app-sidebar [activePage]="activePage" ></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Machine Details</h4>
              <form *ngIf="categories">
                <div class="row col-md-8">
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Machine Name</label>
                      <input type="text" class="form-control" name="name" value="{{machinery.name}}" [(ngModel)]="machinery.name">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-3">
                    <select class="selectpicker" data-style="select-with-transition" title="Select Machine Category" data-size="7" name="category"
                      [(ngModel)]="machinery.category">
                      <option *ngFor="let category of categories" [ngValue]="category.category_name">{{category.category_name}} </option>
                    </select>
                  </div>
                  <!-- <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Weight (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Capacity (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Power (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Load (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <br>
                  <!-- <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Machine Owner</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="machinery.contact_email">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Address</label>
                      <input type="text" class="form-control" name="address" [(ngModel)]="machinery.address">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Phone Number</label>
                      <input type="number" class="form-control" name="phone" [(ngModel)]="machinery.contact_phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Price</label>
                      <input type="number" class="form-control" name="price" [(ngModel)]="machinery.price">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Location</label>
                      <input type="text" class="form-control" name="location" [(ngModel)]="machinery.location">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Description</label>
                      <div class="form-group label-floating">
                        <label class="control-label"> A short description of the Machine</label>
                        <textarea class="form-control" name="description" [(ngModel)]="machinery.description" rows="5"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 col-md-offset-5">
                      <button type="sumbit" [disabled]="photoLoader" class="btn btn-success btn-round" (click)="updateMachinery()">Edit Machine
                        <img *ngIf="loader_2" src="assets/img/loader.gif" style="width:20%;">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row col-md-4">
                  <br>
                  <legend> Machine Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="{{machinery.image}}" alt="machine image">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" appCapture class="balo-upload" [name]="'files'" (snap)="grabPhoto($event)" />
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                  <div *ngIf="photoLoader==true">
                    <span>
                      <small class="text-center">Please wait, uploading image...</small>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>