<app-sidebar></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">perm_identity</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Edit Profile -
                <small class="category">Complete your profile</small>
              </h4>
              <form>
                <!-- <div class="row">
                      <div class="col-md-5">
                          <div class="form-group label-floating">
                              <label class="control-label">Company (disabled)</label>
                              <input type="text" class="form-control" disabled>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group label-floating">
                              <label class="control-label">Username</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group label-floating">
                              <label class="control-label">Email address</label>
                              <input type="email" class="form-control">
                          </div>
                      </div>
                  </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Fist Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Last Name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Email address</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Phone Number</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="form-group label-floating">
                              <label class="control-label">Adress</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                  </div> -->
                <!-- <div class="row">
                      <div class="col-md-4">
                          <div class="form-group label-floating">
                              <label class="control-label">City</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group label-floating">
                              <label class="control-label">Country</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group label-floating">
                              <label class="control-label">Postal Code</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                  </div> -->
                <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>About Me</label>
                              <div class="form-group label-floating">
                                  <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                  <textarea class="form-control" rows="5"></textarea>
                              </div>
                          </div>
                      </div>
                  </div> -->
                <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="assets/img/faces/face-big.png" />
              </a>
            </div>
            <div class="card-content">
              <h6 class="category text-gray">Super Admin</h6>
              <h4 class="card-title">Emeka Nwachkwu</h4>
              <!-- <p class="description">
                  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p> -->
              <a href="#pablo" class="btn btn-rose btn-round">Avatar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>