<app-sidebar [activePage]="activePage" ></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">All Adverts</h4>
              <h4 *ngIf="adverts?.length<=0" align="center" class="card-title">No Advert Found</h4>
              <div *ngIf="adverts?.length>=1" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Advert Name</th>
                      <!-- <th>Categories</th> -->
                      <!-- <th>Owner</th> -->
                      <th>Location</th>
                      <th>Sponsor</th>
                      <th>Status</th>
                      <th class="text-center">Created Date</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let advert of adverts; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{advert.advert_name}}</td>
                      <td>{{advert.advert_area}}</td>
                      <td *ngIf="advert.sponsor">{{advert.sponsor}}</td>
                      <td *ngIf="!advert.sponsor">None</td>
                      <td *ngIf="advert.status" class="text-success"><strong>Active</strong></td>
                      <td *ngIf="!advert.status" class="text-warning"><strong>Inactive</strong></td>
                      <td class="text-center">{{advert.created_at | date}}</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="view machine" class="btn btn-info" (click)="viewAdvert(advert._id)">
                          <i class="material-icons">edit</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button> -->
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteAdvert(advert._id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>