<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Machine Details</h4>
              <form #adMachine="ngForm" *ngIf="categories">
                <div class="row col-md-8">
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Machine Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="machine.data.name" #name="ngModel" required>
                      <div *ngIf="name.invalid && (name.touched || name.dirty)" class="mazi-danger">
                        <span *ngIf="name.errors.required">Please, Machine Name is required!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-3">
                    <select class="selectpicker" data-style="select-with-transition" title="Select Machine Category" data-size="7" name="category"
                      [(ngModel)]="machine.data.category" #category="ngModel" required>
                      <option *ngFor="let category of categories" [ngValue]="category.category_name">{{category.category_name}} </option>
                    </select>
                    <div *ngIf="category.invalid && (category.touched || category.dirty)" class="mazi-danger">
                      <span *ngIf="category.errors.required">Please, Category Name is required!</span>
                    </div>
                  </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Weight (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Capacity (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Power (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Load (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <br>
                  <!-- <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Machine Owner</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="machine.data.contact_email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        #email="ngModel" required>
                      <div *ngIf="email.invalid && (email.touched || email.dirty)" class="mazi-danger">
                        <span *ngIf="email.errors.pattern">Please, enter the correct Email format!</span>
                        <span *ngIf="email.errors.required">Please, Email is required!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Address</label>
                      <input type="text" class="form-control" name="address" [(ngModel)]="machine.data.address" #address="ngModel" required>
                      <div *ngIf="address.invalid && (address.touched || address.dirty)" class="mazi-danger">
                        <span *ngIf="address.errors.required">Please, Address is required!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Phone Number</label>
                      <input type="number" class="form-control" name="phone" [(ngModel)]="machine.data.contact_phone" #phone="ngModel" required>
                      <div *ngIf="phone.invalid && (phone.touched || phone.dirty)" class="mazi-danger">
                        <span *ngIf="phone.errors.required">Please, Phone number is required!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Price</label>
                      <input type="number" class="form-control" name="price" [(ngModel)]="machine.data.price" #price="ngModel" required>
                      <div *ngIf="price.invalid && (price.touched || price.dirty)" class="mazi-danger">
                        <span *ngIf="price.errors.required">Please, Price is required!</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Location</label>
                      <select class="selectpicker" data-style="select-with-transition" title="Select Location" data-size="7" name="location"
                        [(ngModel)]="machine.data.location" #location="ngModel" required>
                        <option disabled>Select Loction</option>
                        <option value="Abuja">Abuja</option>
                        <option value="Lagos">Lagos</option>
                        <option value="Port Harcourt">Port Harcourt</option>
                        <option value="Warri">Warri</option>
                        <option value="Calabar">Calabar</option>
                      </select>
                      <div *ngIf="location.invalid && (location.touched || location.dirty)" class="mazi-danger">
                        <span *ngIf="location.errors.required">Please, Location is required!</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Description</label>
                      <div class="form-group label-floating">
                        <label class="control-label"> A short description of the Machine</label>
                        <textarea class="form-control" name="description" [(ngModel)]="machine.data.description" rows="5" #description="ngModel"
                          required></textarea>
                        <div *ngIf="description.invalid && (description.touched || description.dirty)" class="mazi-danger">
                          <span *ngIf="description.errors.required">Please, Description is required!</span>
                        </div>
                      </div>
                    </div>
                    <div class="text-center col-md-3">
                      <button type="sumbit" id="submitBtn" class="btn btn-success btn-round" [disabled]="!adMachine.form.valid" (click)="addMachinery()">Add Machine
                        <img *ngIf="loader" src="assets/img/loader.gif" style="width:15%;">
                      </button>
                    </div>
                  </div>


                </div>

                <div class="row col-md-4">
                  <br>
                  <legend> Machine Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="assets/img/image_placeholder.jpg" alt="machine image">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" appCapture class="balo-upload" [name]="'files'" (snap)="grabPhoto($event)" accept=".png, .jpg, .jpeg"
                          #photo="ngModel" [(ngModel)]="photo.file" required/>
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                    <div *ngIf="photoLoader==true">
                      <p>Please wait, uploading image...</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-12" hidden>
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Details</h4>
              <form method="#" action="#">
                <div class="col-md-6 col-sm-3">
                  <div class="form-group label-floating">
                    <label class="control-label">Machine Owner</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Phone Number</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Price</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                  <br>
                  <legend> Machine Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="assets/img/feature/2.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="..." />
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>