<app-sidebar [activePage]="activePage" ></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Edit category</h4>
              <form method="#" action="#">
                <div class="row col-md-6">
                  <div class="col-md-12 col-sm-6">
                    <div class="form-group label-floating" [class]='is_focused'>
                      <label class="control-label">Category Name</label>
                      <input type="text" name="category_name" [(ngModel)]="category.data.category_name" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group label-floating" [class]='is_focused'>
                      <label class="control-label">About</label>
                      <input type="text" name="about" [(ngModel)]="category.data.about" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="">
                      <button type="sumbit" id="submitBtn" [disabled]="loader" class="btn btn-success btn-round" (click)="updateCategory()">Edit Category
                        <img *ngIf="loader" src="assets/img/loader.gif" style="width:10%;">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row col-md-6">
                  <legend> Category Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img  [src]="category.data.image ? category.data.image : 'assets/img/image_placeholder.jpg'" alt="machine image">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" appCapture class="balo-upload" [name]="'files'" (snap)="grabPhoto($event)" accept=".png, .jpg, .jpeg"
                          #photo="ngModel" [(ngModel)]="photo.file" required/>
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                    <div *ngIf="photoLoader==true">
                      <p>Please wait, uploading image...</p>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Price</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                  <br>
                  <legend> Machine Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="assets/img/feature/2.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="..." />
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                </div> -->

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>