<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">All Owners</h4>
              <div *ngIf="machineryOwners.length==0" align="center">
                  <h4>No More Data!</h4>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead *ngIf="machineryOwners.length>0">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone Nos.</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let machineryOwner of machineryOwners; let i = index;">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{machineryOwner.company_name}}</td>
                      <td>{{machineryOwner.email}}</td>
                      <td>{{machineryOwner.company_name}}</td>
                      <td>{{machineryOwner.location}}</td>
                      <td *ngIf="machineryOwner.verified">Verified</td>
                      <td *ngIf="!machineryOwner.verified">Not Verified</td>
                      <td class="td-actions text-center">
                        <button type="button" rel="tooltip" class="btn btn-info" (click)="viewMachineOwner(machineryOwner._id)">
                          <i class="material-icons">person</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                            <i class="material-icons">edit</i>
                          </button> -->
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteMachineOwner(machineryOwner._id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>                    
                  </tbody>
                </table>
                <button [disabled]="disablePrev || loader" class="btn btn-success" (click)="getMachineOwners(page-1)">< Prev</button>
                <button [disabled]="disableNext || loader" class="btn btn-success" (click)="getMachineOwners(page+1)"> Next > </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>