<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">View All Machines</h4>
              <h4 *ngIf="machineries?.length<=0" align="center" class="card-title">No Machine Found</h4> 
              <div class="table-responsive">
                <table class="table">
                  <thead *ngIf="machineries?.length>=1">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Name</th>
                      <!-- <th>Categories</th> -->
                      <!-- <th>Owner</th> -->
                      <th>Address</th>
                      <th>Location</th>
                      <th>Phone</th>
                      <th class="text-center">Price</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let machinery of machineries; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{machinery.name}}</td>
                      <td>{{machinery.address}}</td>
                      <td>{{machinery.location}}</td>
                      <td>{{machinery.contact_phone}}</td>
                      <td class="text-center">&#8358; {{machinery.price}}</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="view machine" class="btn btn-info" (click)="getMachinery(machinery._id)">
                          <i class="material-icons">edit</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button> -->
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteMachine(machinery._id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button [disabled]="disablePrev||loader" class="btn btn-success" (click)="getMachineries(page-1)"><img *ngIf="loader" src="assets/img/loader.gif" style="width:15%;">< Prev</button>
                <button [disabled]="disableNext||loader" class="btn btn-success" (click)="getMachineries(page+1)"> Next > </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>