<div class="off-canvas-sidebar">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">
                    <img src="assets/img/logo-small.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i> Dashboard
                        </a>
                    </li>
                    <li class="register.html">
                        <a href="/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class="">
                        <a href="lock.html">
                            <i class="material-icons">lock_open</i> Lock
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="" style="background-image: url(../assets/img/login.jpg)">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form>
                                <div class="card card-login">
                                    <div class="card-header text-center" data-background-color="red">
                                        <h4 class="card-title">Login</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email address</label>
                                                <input type="email" name="email" [(ngModel)]="adminDetails.find.email" class="form-control" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                    #email="ngModel">
                                                <!-- <div *ngIf="email.invalid" class="alert alert-danger">
                                                    <span *ngIf="email.errors.pattern">Pleas, enter the correct Email format!</span>
                                                    <span *ngIf="email.errors.required">Please, Email is required!</span>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                                <input type="password" name="password" [(ngModel)]="adminDetails.data.password" class="form-control" #password="ngModel"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-4 footer text-center">
                                        <button type="submit" [disabled]="loader" class="btn btn-danger btn-lg" (click)="login()">Login
                                            <img *ngIf="loader" src="assets/img/loader.gif" style="width:30%;">
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <!-- <p class="text-center"><a href="#">Forgot password ?</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                Dashboard
                            </a>
                        </li>
                        <!-- <li>
                              <a href="#">
                                  Company
                              </a>
                          </li> -->
                        <!-- <li>
                              <a href="#">
                                  Portfolio
                              </a>
                          </li> -->
                        <!-- <li>
                              <a href="#">
                                  Blog
                              </a>
                          </li> -->
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="http://www.machinery.ng">Machinery NG</a>, crafted with passion by
                    <a href="http://www.projaro.com">Projaro</a>
                </p>
            </div>
        </footer>
    </div>
</div>