<div class="sidebar" data-active-color="purple" data-background-color="black" data-image="">
  <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <img src="assets/img/logo-small.png">
    </a>
    <a href="#" class="simple-text logo-normal">
      Machinery.NG
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <!-- <div class="photo">
        <img src="assets/img/faces/face-big.png" />
      </div> -->
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>
            {{adminDetails.fname}} {{adminDetails.lname}}
            <!-- <b class="caret"></b> -->
          </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <!-- <li>
              <a routerLink="/admin-profile">
                <span class="sidebar-mini">MP</span>
                <span class="sidebar-normal">My Profile</span>
              </a>
            </li> -->
            <!-- <li>
              <a href="#">
                <span class="sidebar-mini">EP</span>
                <span class="sidebar-normal">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">S</span>
                <span class="sidebar-normal">Settings</span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li (click)="activePage='dashboard'" [class.active]="activePage=='dashboard'">
        <a routerLink="/dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>

        </a>
      </li>
      <li [class.active]="activePage=='owners'">
        <a data-toggle="collapse" href="#componentsExamples">
          <i class="material-icons">people</i>
          <p> Owners
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples">
          <ul class="nav">
            <!-- <li>
              <a href="/add-machine">
                <span class="sidebar-mini">NM</span>
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Add Owner</span>
              </a>
            </li> -->
            <li (click)="activePage='owners'" [class.active]="activePage=='owners'">
              <a routerLink="/view-owners">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View All Owners</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li [class.active]="activePage=='machines' || activePage=='add-machine'">
        <a data-toggle="collapse" href="#componentsExamples-1">
          <i class="material-icons">apps</i>
          <p>
            <!-- <img src="assets/img/icon/earth.png" width="40px">--> Machines
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples-1">
          <ul class="nav">
            <li [class.active]="activePage=='add-machine'">
              <a (click)="activePage='add-machine'" href="/add-machine">
                <!-- <span class="sidebar-mini">NM</span> -->
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Add Machine</span>
              </a>
            </li>
            <li [class.active]="activePage=='machines'">
              <a (click)="activePage='machineries'" routerLink="/all-machines">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View All Machines</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li [class.active]="activePage=='classifieds' || activePage=='create-classified'">
        <a data-toggle="collapse" href="#componentsExamples-2">
          <i class="material-icons">filter</i>
          <p>
            <!-- <img src="assets/img/icon/earth.png" width="40px">--> Classified
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples-2">
          <ul class="nav">
            <li [class.active]="activePage=='create-classified'">
              <a (click)="activePage='create-classified'" href="/create-classified">
                <!-- <span class="sidebar-mini">NM</span> -->
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Create Classified</span>
              </a>
            </li>
            <li [class.active]="activePage=='classifieds'">
              <a (click)="activePage='classifieds'" routerLink="/all-classifieds">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View All Classifieds</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li [class.active]="activePage=='categories' || activePage=='add-category'">
        <a data-toggle="collapse" href="#componentsExamples-3">
          <i class="material-icons">style</i>
          <p>
            <!-- <img src="assets/img/icon/forklift.png" width="40px">--> Categories
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples-3">
          <ul class="nav">
            <li [class.active]="activePage=='add-category'">
              <a (click)="activePage='add-category'" href="/add-category">
                <!-- <span class="sidebar-mini">NM</span> -->
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Add Category</span>
              </a>
            </li>
            <li [class.active]="activePage=='categories'">
              <a (click)="activePage='categories'" routerLink="/view-categories">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View All Categories</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li [class.active]="activePage=='adverts' || activePage=='add-advert'">
        <a data-toggle="collapse" href="#componentsExamples-4">
          <i class="material-icons">caste</i>
          <p> Advert
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples-4">
          <ul class="nav">
            <li [class.active]="activePage=='add-advert'">
              <a (click)="activePage='add-advert'" href="/create-advert">
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Add Advert</span>
              </a>
            </li>
            <li [class.active]="activePage=='adverts'">
              <a (click)="activePage='adverts'" routerLink="/view-adverts">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View Adverts</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li [class.active]="activePage=='subs' || activePage=='create-sub'">
        <a data-toggle="collapse" href="#componentsExamples-5">
          <i class="material-icons">books</i>
          <p> Subscription
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples-5">
          <ul class="nav">
            <li [class.active]="activePage=='create-sub'">
              <a (click)="activePage='create-sub'" href="/create-subscription">
                <i class="material-icons">add</i>
                <span class="sidebar-normal">Create Subscription</span>
              </a>
            </li>
            <li [class.active]="activePage=='subs'">
              <a (click)="activePage='subs'" routerLink="/view-subscriptions">
                <!-- <span class="sidebar-mini">VM</span> -->
                <i class="material-icons">visibility</i>
                <span class="sidebar-normal">View Subscriptions</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a (click)="logout()">
          <i class="material-icons">lock</i>

          <p>Log out</p>
        </a>
      </li>
    </ul>
  </div>
</div>