<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Advert Details</h4>
              <form>
                <div class="row col-md-6">
                  <div class="col-md-12 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Advert Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="advert.data.advert_name">
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-6">
                    <select class="selectpicker" data-style="select-with-transition" title="Select Advert location" data-size="7" name="category"
                      [(ngModel)]="advert.data.advert_area">
                      <option value="Top">Top Page </option>
                      <option value="Below">Below Page</option>
                      <option value="Side">Side Page</option>
                    </select>
                  </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Weight (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Capacity (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Power (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Max. Load (kg)</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <br>
                  <!-- <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Machine Owner</label>
                      <input type="email" class="form-control">
                    </div>
                  </div> -->
                  <div hidden class="col-md-12 col-sm-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Sponsor</label>
                      <input type="text" class="form-control" name="sponsor" [(ngModel)]="advert.data.sponsor">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <p>Activate Advert</p>
                    <div class="togglebutton">
                      <label>
                        <input type="checkbox" name="status" [(ngModel)]="advert.data.status">
                        <span *ngIf="advert.data.status">Active</span>
                        <span *ngIf="!advert.data.status">Inactive</span>
                      </label>
                    </div>
                  </div>
                  <!-- </div>
                  <div class="col-md-6 col-sm-3">
                    <div class="form-group label-floating">
                      <label class="control-label">Address</label>
                      <input type="text" class="form-control" name="address" [(ngModel)]="machine.data.address">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Phone Number</label>
                      <input type="number" class="form-control" name="phone" [(ngModel)]="machine.data.contact_phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Price</label>
                      <input type="number" class="form-control" name="price" [(ngModel)]="machine.data.price">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Location</label>
                      <input type="text" class="form-control" name="location" [(ngModel)]="machine.data.location">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Description</label>
                      <div class="form-group label-floating">
                        <label class="control-label"> A short description of the Machine</label>
                        <textarea class="form-control" name="description" [(ngModel)]="machine.data.description" rows="5"></textarea>
                      </div>
                    </div> -->
                  <div class="text-center col-md-3">
                    <br>
                    <br>
                    <br>
                    <button type="sumbit" class="btn btn-success btn-round" [disabled]="loader" (click)="createAdvert()">Add Advert
                      <img *ngIf="loader" src="assets/img/loader.gif" style="width:15%;">
                    </button>
                  </div>
                </div>
                <label> Advert Image</label>
                <div class="row col-md-6">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="assets/img/image_placeholder.jpg" alt="machine image">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div *ngIf="!loader_2">
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" appCapture class="balo-upload" [name]="'files'" (snap)="grabPhoto($event)" />
                      </span>
                      <!-- <a  class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a> -->
                    </div>
                    <div *ngIf="photoLoader">
                      <p>Please wait, uploading image...</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12" hidden>
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">contacts</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Details</h4>
              <form method="#" action="#">
                <div class="col-md-6 col-sm-3">
                  <div class="form-group label-floating">
                    <label class="control-label">Machine Owner</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Phone Number</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Price</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Location</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-8 col-md-offset-4">
                  <br>
                  <legend> Machine Image</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                      <img src="assets/img/feature/2.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                    <div>
                      <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="..." />
                      </span>
                      <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                        <i class="fa fa-times"></i> Remove</a>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>