<app-sidebar [activePage]="activePage" ></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">All Adverts</h4>
              <h4 *ngIf="subscriptions?.length<=0" align="center" class="card-title">No Subscription Found</h4>
              <div *ngIf="subscriptions?.length>=1" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Subscription Package</th>
                      <!-- <th>Categories</th> -->
                      <!-- <th>Owner</th> -->
                      <th>Price</th>
                      <th>Duration</th>
                      <th>Level</th>
                      <th>Status</th>
                      <th class="text-center">Created Date</th>
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subscription of subscriptions; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{subscription.subscription_package}}</td>
                      <td>{{subscription.price | number}}</td>
                      <td>{{subscription.duration}}</td>
                      <td *ngIf="subscription.level==1">Low Level</td>
                      <td *ngIf="subscription.level==2">Mid Level</td>
                      <td *ngIf="subscription.level==3">High Level</td>
                      <td [class]="subscription.status ? 'text-success' : 'text-warning'"><strong [innerHTML]="subscription.status ? 'Active' : 'Inactive'"></strong></td>
                      <td class="text-center">{{subscription.created_at | date}}</td>
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="view machine" class="btn btn-info" (click)="viewSubscription(subscription._id)">
                          <i class="material-icons">edit</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button> -->
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteSubscription(subscription._id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>