<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div *ngIf="loader" align="center">
      <br>
      <br>
      <img src="assets/img/loader.gif" width="200" />
    </div>
    <div *ngIf="networkError" align="center">
      <br>
      <br>
      <h4>Network error!</h4>
    </div>
    <div *ngIf="!loader && !networkError" class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
              <i class="material-icons">card_travel</i>
            </div>
            <div class="card-content">
              <p class="category">Bookings</p>
              <h3 class="card-title">35</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#pablo">Get More Space...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header" data-background-color="rose">
              <i class="material-icons">equalizer</i>
            </div>
            <div class="card-content">
              <p class="category">Website Visits</p>
              <h3 class="card-title">521</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> Tracked from Google Analytics
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header" data-background-color="green">
              <i class="material-icons">store</i>
            </div>
            <div class="card-content">
              <p class="category">Revenue</p>
              <h3 class="card-title">&#8358;340,245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
              <i class="fa fa-twitter"></i>
          </div>
          <div class="card-content">
              <p class="category">Followers</p>
              <h3 class="card-title">+245</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">update</i> Just Updated
              </div>
          </div>
      </div>
  </div> -->
      </div>
      <!-- MOST RECENT LISTING-->
      <h3>Recent Listings</h3>
      <br>
      <div class="row">
        <div *ngFor="let machines of machineries" class="col-md-4">
          <div class="card card-product">
            <div class="card-image" data-header-animation="true">
              <a>
                <img class="img" [src]="machines.image">
              </a>
            </div>
            <div class="card-content">
              <div class="card-actions">
                <!-- <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="View">
                  <i class="material-icons">person</i>
                </button> -->
                <button type="button" class="btn btn-success btn-simple" (click)="getMachinery(machines._id)" rel="tooltip" data-placement="bottom" title="Edit">
                  <i class="material-icons">edit</i>
                </button>
              </div>
              <h4 class="card-title">
                <a href="#pablo">{{machines.category}}</a>
              </h4>
              <div class="card-description">
              </div>
            </div>
            <div class="card-footer">
              <div class="price">
                <h4>&#8358;{{machines.price | number}}/day</h4>
              </div>
              <div class="stats pull-right">
                <p class="category">
                  <i class="material-icons">place</i>{{machines.location}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3>Owners</h3>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Recent Owners</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Company Name</th>
                      <th>Email</th>
                      <th>Phone Nos.</th>
                      <th>Location</th>
                      <th>Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let machineryOwner of machineryOwners; let i = index;">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{machineryOwner.company_name}}</td>
                      <td>{{machineryOwner.email}}</td>
                      <td>{{machineryOwner.company_name}}</td>
                      <td>{{machineryOwner.location}}</td>
                      <td *ngIf="machineryOwner.verified">Verified</td>
                      <td *ngIf="!machineryOwner.verified">Not Verified</td>
                      <td class="td-actions text-center">
                        <button type="button" rel="tooltip" (click)="viewMachineOwner(machineryOwner._id)" class="btn btn-info">
                          <i class="material-icons">visibility</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger" onclick="demo.showSwal('warning-message-and-cancel')">
                          <i class="material-icons">close</i>
                        </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>