<app-sidebar [activePage]="activePage"></app-sidebar>
<div class="main-panel">
  <app-header [pageTitle]="pageTitle"></app-header>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">All Categories</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Category Name</th>
                      <!-- <th>Categories</th> -->
                      <!-- <th>Owner</th> -->
                      <th>About</th>
                      <th>Status</th>
                      <th>Date</th>
                      <!-- <th class="text-center">Price</th> -->
                      <th class="text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of categories; let i = index">
                      <td class="text-center">{{i+1}}</td>
                      <td>{{category.category_name}}</td>
                      <td>{{category.about}}</td>
                      <td *ngIf="category.status">Active</td>
                      <td *ngIf="!category.status">Inactive</td>
                      <td>{{category.updated_at | date}}</td>
                      <!-- <td class="text-center">&#8358; {{machinery.price}}</td> -->
                      <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="view machine" class="btn btn-info" (click)="getCategory(category._id)">
                          <i class="material-icons">edit</i>
                        </button>
                        <!-- <button type="button" rel="tooltip" class="btn btn-success">
                          <i class="material-icons">edit</i>
                        </button> -->
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteCategory(category._id)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>