<div class="off-canvas-sidebar">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">
                    <img src="assets/img/logo-small.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i> Dashboard
                        </a>
                    </li>
                    <li class="register.html">
                        <a href="/login">
                            <i class="material-icons">person</i> Login
                        </a>
                    </li>
                    <!-- <li class="">
                      <a href="">
                          <i class="material-icons">lock_open</i> Lock
                      </a>
                  </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="green" style="background-image: url(../assets/img/login.jpg);">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6  col-sm-offset-3">
                            <form>
                                <div class="card card-login">
                                    <div class="card-header text-center" data-background-color="rose">
                                        <h4 class="card-title">Register</h4>
                                    </div>
                                    <!-- <p class="category text-center">
                                      Or Be Classical
                                  </p> -->
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">First Name</label>
                                                <input type="text" name="fname" [(ngModel)]="adminReg.data.fname" class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" name="lname" [(ngModel)]="adminReg.data.lname" class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email address</label>
                                                <input type="email" name="email" [(ngModel)]="adminReg.data.email" class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Phone</label>
                                                <input type="phone" name="phone" [(ngModel)]="adminReg.data.phone" class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                                <input type="password" name="password" [(ngModel)]="adminReg.data.password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-rose btn-wd btn-lg" (click)="register()">Register
                                            <img *ngIf="loader" src="assets/img/loader.gif" style="width:5%;">
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Dashboard
                                </a>
                            </li>
                            <!-- <li>
                              <a href="#">
                                  Company
                              </a>
                          </li> -->
                            <!-- <li>
                              <a href="#">
                                  Portfolio
                              </a>
                          </li> -->
                            <!-- <li>
                              <a href="#">
                                  Blog
                              </a>
                          </li> -->
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.machinery.ng">Machinery NG</a>, crafted with passion by
                        <a href="http://www.projaro.com">Projaro</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>